# DTB Overlays
CONFIG_OF_OVERLAY=y

CONFIG_SPI=y
CONFIG_SPI_SPIDEV=y

# SPI Ethernet
CONFIG_NET_VENDOR_MICROCHIP=y
CONFIG_ENC28J60=m
CONFIG_ENCX24J600=m
CONFIG_NET_VENDOR_WIZNET=y
CONFIG_WIZNET_W5100=m
CONFIG_WIZNET_W5100_SPI=m

# Video
CONFIG_DRM=y
CONFIG_DRM_SUN4I=y
CONFIG_DRM_PANEL_SIMPLE=y
CONFIG_DRM_DUMB_VGA_DAC=y
CONFIG_FB_SIMPLE=y
CONFIG_FB_SSD1307=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_LOGO=y
CONFIG_LOGO_LINUX_CLUT224=y

# usb otg
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_OTG=y
CONFIG_USB_OTG_FSM=y
CONFIG_USB_G_SERIAL=y
#CONFIG_USB_CDC_COMPOSITE=y
CONFIG_USB_ROLE_SWITCH=y
