CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_PINCTRL=y
CONFIG_LED=y
CONFIG_LED_BLINK=y
CONFIG_LED_GPIO=y
CONFIG_PHY_SUN4I_USB=y
CONFIG_DM_PWM=y
CONFIG_PWM_SUNXI=y
CONFIG_CMD_CPU=y
CONFIG_CMD_BOOTMENU=y
#CONFIG_CMD_SDRAM=y
#CONFIG_CMD_USB_MASS_STORAGE=y

CONFIG_SPI=y
CONFIG_DM_SPI=y

CONFIG_VIDEO_SUNXI=y
CONFIG_DM_VIDEO=y
CONFIG_LCD=y
CONFIG_VIDEO_IF_PARALLEL=y
CONFIG_VIDEO_LCD_MODE="x:800,y:480,depth:18,pclk_khz:33000,le:87,ri:40,up:31,lo:13,hs:1,vs:1,sync:3,vmode:0"
CONFIG_VIDEO_LCD_BL_PWM="PB4"
